@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: #ffffff40;
    background-image: linear-gradient(180deg, #ffffff41 0%, #6284ff70 50%, #ff00006c 100%), url(./img/resim-2.jpg);
    height: 100vh;
    background-size:100% 100%  ;
    background-attachment: fixed;
   
    

}
.navbar .logo{
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;
   

}
.navbar .logo a{
    border: 1px solid white;
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
    color: #F5F1F2;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
    
}
.navbar .logo a:hover{
   
    background-color: darkorange;
    color: #12272C;
    border: 1px solid #e8e8e8;
    border-radius: 10px;

}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
    
}
.container .navbar{
    width: 100%;
    height: 80px;
background-color:#152e318e
}
.navbar ul{
    float: right;
    margin-right: 20px;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.navbar ul li a.active,
.navbar ul li a:hover{
    background-color:rgb(255, 140, 0);
    border-radius: 10px ;
    color: #131515;
    border: 1px solid ;
    border-color: aliceblue;
}
.container .center{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: sans-serif;
    user-select: none;

}
.center h1{
    color: #f5f1f282;
    font-size: 70px;
    font-weight: bold;
    width: 900px;
    text-align: center;
}
.center h2{
    color: #f5f1f282;
    font-size: 70px;
    font-weight: bold;
    width: 900px;
    text-align: center;
}
.center .buttons{
    margin:35px 370px;


}
.buttons button{
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: #f5eceda6;
    background-color: #878b8a67;
    border: 1px solid rgba(255, 0, 0, 0.451);
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}
.buttons button:hover{
    background-color: darkorange;
    color: #12272C;
    border-color: #F5F1F2;

}